.basketball {
    display: flex;
}

.scoreboard {
    border: 10px solid yellow;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;

}

p {
    font-size: 80px;
    color: red;
}

.score1 {
    width: 300px;
}

button {
    height: 40px;
    width: 40px;
    flex-direction: row;
    margin-right: 11px;
    margin-top: 10px;
}